@model IEnumerable<PokerDashboard.Models.GameEntry>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinnerHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Date).ToString(), "Game", new { id=item.Id  })
        </td>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.WinnerName).ToString(), "Player", new { id=item.WinnerId  })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinnerHand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerCount)
        </td>
    </tr>
}

</table>
